<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsk.project_ssm.mapper.PersonMapper">
    <select id="getMapPersonList" resultType="map" parameterType="map">
        SELECT t.*,c.name name1,GROUP_CONCAT(h.name)'hname' FROM t_student t
        LEFT JOIN t_clazz c on t.classid=c.id
        LEFT JOIN t_hobby h on FIND_IN_SET(h.id,t.hobbys)
            <if test="mohu != null and mohu != ''">
              and t.name like concat('%',#{mohu},'%')
            </if>
        group by t.id
--         limit #{index},#{pageSize}
    </select>

    <select id="getCountPersonList" resultType="int" parameterType="map">
        select count(*) FROM t_student t
        <where>
            <if test="mohu != null and mohu != ''">
                and t.name like concat('%',#{mohu},'%')
            </if>
        </where>
    </select>



</mapper>